.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*
terraform.tfstate
crash.log
Terraform2/


.terraform/
.terraform
.terraform*
*.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
*.tfplan.backup
*.tfvars
*.tfvars.backup
*.tfplan.json
*.tfplan.json.backup
*.tfplan.json.backup
*.tfplan.json.backup

